__pycache__
*.txt
menuBeta-Copia copy.py
menuBeta-malo.py
Canciones wav
Plan de pruebas.docx
Plan de pruebas –Brian Ramirez Arias y Matthew Cordero Salazar.pdf
Tabla de distribución de contenido-Brian Ramirez y Matthew Cordero.pdf
